/* --------------- Numbers --------------- */

.numbers-ca{
    padding: 100px 40px 60px;
    background: $main-color;
    color: #fff;
    margin-top: -40px;
    border-radius: 0 0 20px 20px;

    .item{

        h2{
            margin-bottom: 30px;
        }

        span{
            font-size: 14px;
            line-height: 1.5;
            text-transform: uppercase;
        }
    }
}
