/* --------------- Clients --------------- */

.clients-dm{
    position: relative;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -15px;
        width: 200px;
        backdrop-filter: blur(2px);
        z-index: 3;
    }

    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -15px;
        width: 200px;
        backdrop-filter: blur(2px);
    }

    .item{
        margin: 0 80px;

        img{
            width: 140px;
        }
    }
}