/* --------------- Blogs --------------- */

.blog-sa{

    .item{

        .img{
            height: 470px;
            border-radius: 15px;
        }

        .cont{
            
            .info{

                a{
                    font-size: 14px;
                }

                .date{
                    opacity: .5;
                    margin-left: 5px;
                }
            }
        }
    }
}