/* --------------- Clients --------------- */

.clients-ds{

    .item{
        position: relative;
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 80px;
        height: 100%;
        padding: 50px 30px;

        .text-center{
            width: 100%;
        }

        .img{
            max-width: 100px;
            margin: auto;
        }

        p{
            margin-top: 30px;
        }
    }
}