:root {
  --bg-color: #1a1b1e;
  --theme-color: #0e0f11;
  --main-color: #d0ff71; }

/* --------------- Menu --------------- */
.navbar {
  position: absolute;
  left: 0;
  top: 30px;
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
  z-index: 9999999; }
  .navbar.nav-scroll {
    padding: 0;
    position: fixed;
    top: -80px;
    padding: 15px 0;
    -webkit-transition: -webkit-transform .8s;
    transition: -webkit-transform .8s;
    -o-transition: transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s;
    -webkit-transform: translateY(80px);
    -ms-transform: translateY(80px);
    transform: translateY(80px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); }
  .navbar .logo {
    padding: 7px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px; }
  .navbar .navbar-nav {
    padding: 2px 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin-left: 15px; }
    .navbar .navbar-nav .nav-link {
      padding: 5px 20px;
      border-radius: 30px;
      font-size: 14px;
      color: #fff; }
      .navbar .navbar-nav .nav-link.active {
        background: rgba(255, 255, 255, 0.1); }
  .navbar .topnav .butn {
    padding: 7px 20px;
    background: #fff;
    color: #1d1d1d;
    margin-right: 15px; }

/* --------------- header --------------- */
.header-cst .container-fluid {
  width: 100%;
  padding: 15px;
  margin: 0;
  position: relative; }
  .header-cst .container-fluid:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, var(--theme-color)), to(transparent));
    background-image: -webkit-linear-gradient(bottom, var(--theme-color) 50%, transparent);
    background-image: -o-linear-gradient(bottom, var(--theme-color) 50%, transparent);
    background-image: linear-gradient(to top, var(--theme-color) 50%, transparent);
    opacity: .98; }

.header-cst .img {
  height: 500px;
  border-radius: 10px; }

.header-cst .caption {
  position: relative;
  margin-top: -250px;
  z-index: 4; }
  .header-cst .caption h1 {
    font-size: 28vw;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transform: scaleX(1.5);
    -ms-transform: scaleX(1.5);
    transform: scaleX(1.5);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s; }
    .header-cst .caption h1.normal {
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); }

/* --------------- Intro --------------- */
.intro-cst .states .item {
  position: relative;
  padding-left: 60px; }
  .intro-cst .states .item:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .intro-cst .states .item:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
  .intro-cst .states .item span {
    font-size: 16px;
    color: #aaa; }
  .intro-cst .states .item h2 {
    font-size: 140px;
    line-height: 1;
    margin-top: 40px; }
  .intro-cst .states .item .spn-botm {
    margin-left: 10px; }

/* --------------- Works --------------- */
.work-card .card-item {
  margin-bottom: 30px; }
  .work-card .card-item .img {
    position: relative;
    height: 650px;
    border-radius: 15px;
    overflow: hidden; }
    .work-card .card-item .img:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, left top, left bottom, from(var(--theme-color)), to(transparent));
      background-image: -webkit-linear-gradient(top, var(--theme-color), transparent);
      background-image: -o-linear-gradient(top, var(--theme-color), transparent);
      background-image: linear-gradient(to bottom, var(--theme-color), transparent);
      opacity: .6; }
    .work-card .card-item .img .tags {
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 3; }
      .work-card .card-item .img .tags a {
        font-size: 12px;
        line-height: 1;
        padding: 7px 12px;
        margin-right: 2px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 30px; }
  .work-card .card-item h5 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 140px;
    font-family: "Six Caps", sans-serif;
    line-height: 1;
    letter-spacing: normal;
    z-index: 3; }
    .work-card .card-item h5.bottom {
      top: auto;
      bottom: 30px; }
    .work-card .card-item h5.left {
      text-align: left;
      padding-left: 30px; }
    .work-card .card-item h5.right {
      text-align: right;
      padding-right: 30px; }

/* --------------- Services --------------- */
.services-cst {
  position: relative;
  z-index: 3; }
  .services-cst .img-patern {
    position: absolute;
    bottom: 10%;
    left: -15%;
    width: 30%;
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: .07;
    z-index: -1; }
  .services-cst .item {
    padding: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
    .services-cst .item > div {
      width: 100%; }
    .services-cst .item h6 {
      font-size: 18px; }
    .services-cst .item .title {
      text-align: center;
      position: relative; }
      .services-cst .item .title h2 {
        font-size: 90px;
        font-weight: 500;
        white-space: nowrap;
        line-height: 1;
        letter-spacing: -4px; }
      .services-cst .item .title .list {
        opacity: 0;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
        .services-cst .item .title .list span {
          padding: 7px 12px;
          background: var(--main-color);
          border-radius: 30px;
          position: absolute;
          font-size: 14px;
          color: var(--theme-color);
          opacity: 0;
          -webkit-transition: all .4s;
          -o-transition: all .4s;
          transition: all .4s; }
          .services-cst .item .title .list span:nth-of-type(1) {
            top: 0;
            left: 15%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
          .services-cst .item .title .list span:nth-of-type(2) {
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%) translateX(-50%);
            -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
            -webkit-transition-delay: .2s;
            -o-transition-delay: .2s;
            transition-delay: .2s; }
          .services-cst .item .title .list span:nth-of-type(3) {
            bottom: 0;
            right: 15%;
            -webkit-transform: translateY(50%);
            -ms-transform: translateY(50%);
            transform: translateY(50%);
            -webkit-transition-delay: .4s;
            -o-transition-delay: .4s;
            transition-delay: .4s; }
          .services-cst .item .title .list span:nth-of-type(4) {
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%) translateX(50%);
            -ms-transform: translateY(-50%) translateX(50%);
            transform: translateY(-50%) translateX(50%);
            -webkit-transition-delay: .5s;
            -o-transition-delay: .5s;
            transition-delay: .5s; }
    .services-cst .item p {
      opacity: 0;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }
    .services-cst .item .icon {
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      display: inline-block; }
      .services-cst .item .icon img {
        width: 30px; }
    .services-cst .item:hover .title .list {
      opacity: 1; }
      .services-cst .item:hover .title .list span {
        opacity: 1; }

.numbers-dm .item h2 {
  font-size: 120px;
  font-weight: 200; }
  .numbers-dm .item h2 span {
    font-size: 50px; }

.numbers-dm .item h6 {
  font-size: 18px; }

/* --------------- Clients --------------- */
.brand-ds .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .brand-ds .item:after {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    pointer-events: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
  .brand-ds .item .text-center {
    width: 100%; }
  .brand-ds .item .img {
    width: 50px;
    margin: auto;
    opacity: .25;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
  .brand-ds .item p {
    margin-top: 30px; }
  .brand-ds .item:nth-of-type(3) .img, .brand-ds .item:nth-of-type(4) .img {
    width: 70px; }
  .brand-ds .item:hover {
    z-index: 4; }
    .brand-ds .item:hover:after {
      border-color: var(--main-color); }
    .brand-ds .item:hover .img {
      opacity: 1; }

.clients-ds .item {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 80px;
  height: 100%;
  padding: 50px 30px; }
  .clients-ds .item .text-center {
    width: 100%; }
  .clients-ds .item .img {
    max-width: 100px;
    margin: auto; }
  .clients-ds .item p {
    margin-top: 30px; }

/* --------------- Testimonials --------------- */
.testimonials-ds .qoute-icon {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .testimonials-ds .qoute-icon .text {
    width: 240px; }
  .testimonials-ds .qoute-icon .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100px; }

.testimonials-ds .item .info .img-author {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden; }

.testimonials-ds .item .info .info-text {
  padding-left: 20px; }
  .testimonials-ds .item .info .info-text p {
    font-size: 14px;
    color: #BBBBBB;
    margin-top: 5px; }

.testimonials-ds .swiper {
  position: relative; }
  .testimonials-ds .swiper .swiper-pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto !important;
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    padding: 5px 15px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1); }
    .testimonials-ds .swiper .swiper-pagination .swiper-pagination-bullet {
      margin: 0 7px;
      background: #BBBBBB; }
      .testimonials-ds .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: var(--main-color); }

/* --------------- Awards --------------- */
.awards-sa .item-title {
  padding: 0 15px 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .awards-sa .item-title > div {
    padding: 0; }
  .awards-sa .item-title h6 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: .7; }

.awards-sa .item-line {
  padding: 25px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 3; }
  .awards-sa .item-line > div {
    padding: 0; }
    .awards-sa .item-line > div:last-of-type {
      text-align: right; }
  .awards-sa .item-line:hover:after {
    height: 100%; }
  .awards-sa .item-line:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.05);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    z-index: -1; }
  .awards-sa .item-line .honors h6 {
    font-size: 14px; }
  .awards-sa .item-line .project-date span {
    font-size: 14px;
    opacity: .7; }

/* --------------- Blogs --------------- */
.blog-sa .item .img {
  height: 470px;
  border-radius: 15px; }

.blog-sa .item .cont .info a {
  font-size: 14px; }

.blog-sa .item .cont .info .date {
  opacity: .5;
  margin-left: 5px; }

/* --------------- Contact --------------- */
.team-cst .thecontainer {
  width: 200vw;
  padding-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.team-cst .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .team-cst .panel:nth-of-type(even) .item {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  .team-cst .panel .item {
    width: 25vw;
    position: relative;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
    .team-cst .panel .item .img {
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }
    .team-cst .panel .item .cont {
      margin-top: 30px; }
      .team-cst .panel .item .cont h5 {
        font-size: 24px;
        font-weight: 500; }
      .team-cst .panel .item .cont span {
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: .75; }
    .team-cst .panel .item:hover .img {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }

/* --------------- footer --------------- */
.footer-sa .call-action h2 {
  font-size: 22vw;
  line-height: 1; }

.footer-sa .logo {
  width: 160px; }

.footer-sa .contact-info .item {
  margin-bottom: 50px; }
  .footer-sa .contact-info .item span {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px; }

.footer-sa .contact-info .social-icon a {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  font-size: 14px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  .footer-sa .contact-info .social-icon a:hover {
    border-color: #fff; }

.footer-sa .sub-footer .copy p {
  font-size: 14px; }
  .footer-sa .sub-footer .copy p a {
    color: #fff; }

.footer-sa .sub-footer .links {
  width: 100%; }
  .footer-sa .sub-footer .links a {
    font-size: 14px; }
  .footer-sa .sub-footer .links .active {
    color: #fff; }

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  background-color: var(--theme-color); }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0; }

h1 {
  font-size: 64px;
  letter-spacing: -3px; }

h2 {
  font-size: 48px;
  letter-spacing: -3px; }

h3 {
  font-size: 40px;
  letter-spacing: -2px; }

h4 {
  font-size: 36px;
  letter-spacing: -2px; }

h5 {
  font-size: 28px;
  letter-spacing: -1px; }

h6 {
  font-size: 22px; }

.sub-bg {
  background: var(--bg-color); }

.light-bg {
  background: #fff;
  color: #0e0f11; }
  .light-bg .butn.butn-bord {
    border: 1px solid rgba(0, 0, 0, 0.3); }
    .light-bg .butn.butn-bord img {
      -webkit-filter: invert(0);
      filter: invert(0); }
    .light-bg .butn.butn-bord:hover {
      background: var(--main-color);
      color: #212121; }

.sub-color {
  color: #a4a4a4; }

.sub-head {
  font-size: 20px; }

.title-font {
  font-family: "Six Caps", sans-serif;
  letter-spacing: normal; }

p {
  font-size: 16px;
  font-weight: 400;
  color: #a4a4a4;
  margin: 0; }

.sec-head .sub-head {
  position: relative;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 300; }
  .sec-head .sub-head:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0; }

.text-indent {
  text-indent: 20%; }

.loader-wrap svg {
  fill: #1d1d1d; }

.crv-butn span {
  background: var(--main-color);
  color: #0e0f11; }

.crv-butn .text {
  line-height: 40px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px;
  border-radius: 30px;
  position: relative; }
  .crv-butn .text:after {
    content: '';
    width: 30px;
    height: 30px;
    background: var(--main-color);
    position: absolute;
    top: 5px;
    right: -15px;
    z-index: -1;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }

.crv-butn .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin-left: -10px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .crv-butn .icon img {
    width: 15px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }

.crv-butn:hover .text:after {
  border-radius: 50%;
  top: calc(50% - 5px);
  right: 0;
  height: 10px; }

.crv-butn:hover .icon {
  margin-left: 5px; }
  .crv-butn:hover .icon img {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.butn.butn-bord {
  border: 1px solid rgba(255, 255, 255, 0.3); }
  .butn.butn-bord:hover {
    background: #fff;
    color: #212121; }

.icon.invert img {
  -webkit-filter: invert(1);
  filter: invert(1); }

.butn .icon {
  width: 18px; }

.butn:hover .icon.invert img {
  -webkit-filter: invert(0);
  filter: invert(0); }

/* ====================== [ Start Responsive ] ====================== */
@media screen and (max-width: 992px) {
  .team-cst .thecontainer {
    width: 100%;
    min-height: auto;
    display: block;
    padding-top: 80px; }
  .team-cst .panel {
    display: block;
    padding: 0 15px !important; }
    .team-cst .panel .item {
      width: 100%;
      margin-top: 50px;
      -webkit-transform: none !important;
      -ms-transform: none !important;
      transform: none !important; } }

@media screen and (max-width: 768px) {
  .work-card .card-item .img {
    height: 500px; }
  .work-card .card-item h5 {
    font-size: 80px; }
  .services-cst .item .title h2 {
    font-size: 30px;
    letter-spacing: -1px; }
  .services-cst .item .title .list {
    display: none; }
  .services-cst .item .icon {
    width: 50px;
    height: 50px;
    line-height: 50px; }
    .services-cst .item .icon img {
      width: 25px; }
  .testimonials-ds .qoute-icon .text {
    width: 180px; }
  .testimonials-ds .qoute-icon .icon {
    width: 80px; }
  .testimonials-ds .item h4 {
    font-size: 25px;
    letter-spacing: normal; } }
