/* --------------- Contact --------------- */

.contact-ca{
    background: #333333;
    color: #fff;

    p{
        color: #b1b1b1;
    }

    .contact-form{

        label{
            font-size: 14px;
            margin-bottom: 5px;

            .star{
                color: red;
                padding-left: 5px;
            }
        }

        input,
        textarea{
            color: #fff;
            background: transparent;
            width: 100%;
            padding: 0 0 10px;
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            font-size: 18px;
        }

        button{
            background: $main-color;
            color: #fff;

            &:hover{
                background: #fff;
                color: #151515;
            }
        }
    }
}