/* --------------- footer --------------- */

.footer-sa{
    background: #1d1d1d;
    color: #fff;

    p,
    .sub-color{
        color: #ccc;
    }

    .logo{
        width: 160px;
    }

    .contact-info{

        .item{
            margin-bottom: 50px;

            span{
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
        }

        .social-icon{

            a{
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                border: 1px solid rgba(255,255,255,.1);
                border-radius: 50%;
                font-size: 14px;
                transition: all .4s;

                &:hover{
                    border-color: #fff;
                }
            }
        }
    }

    .sub-footer{

        .copy{

            p{
                font-size: 14px;
                
                a{
                    color: #fff;
                }
            }
        }

        .links{
            width: 100%;

            a{
                font-size: 14px;
            }

            .active{
                color: #fff;
            }
        }
    }
}