/* --------------- Works --------------- */

.work-card{

    .card-item{
        margin-bottom: 30px;
        border: 1px solid rgba(255, 255, 255, .05);
        border-radius: 10px;
        background: $bg-color;

        .cont{
            height: 100%;
            padding: 40px 80px 40px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tag{
                font-size: 12px;
                line-height: 1;
                padding: 7px 12px;
                margin-right: 2px;
                border: 1px solid rgba(255,255,255,.1);
                border-radius: 30px;
            }

            p{
                font-size: 14px;
                line-height: 20px;
            }
        }

        .img{
            padding: 20px;

            img{
                border-radius: 15px;
            }
        }
    }
}